<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-justify-content-center ion-align-items-center">
  <ion-card>
    <img src="../../assets/outlier.jpeg" />
    <ion-card-header>
      <ion-card-title>Quem somos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/outlier.jpeg" />
    <ion-card-header>
      <ion-card-title>Como você pode nos ajudar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ajude-nos assistindo uma propaganda rápida, e ainda ganhe pontos de graça!
    </ion-card-content>
    <div id="assistirBtn">
    <ion-button (click)="openAd()">
      Assistir propaganda
    </ion-button>
    </div>
  </ion-card>

</ion-content>
