<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-justify-content-center ion-align-items-center">
  <ion-card>
    <img src="../../assets/outlier.jpeg" />
    <ion-card-header>
      <ion-card-title>Como você pode nos ajudar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nós da Outlier5 desenvolvemos este aplicativo para toda a população de forma gratuita, 
      sem nenhum tipo de patrocínio, caso sinta o desejo você pode utilizar o botão abaixo para
      contribuir com nosso trabalho, assistindo uma propaganda rápida. Aproveitamos também para reforçar 
      que: Não utilizamos sua localização (ou nosso aplicativo como um todo) para coletar nenhum de 
      seus dados, estes são de uso único e exclusivo seu, e ficam salvos somente no seu dispositivo.
    </ion-card-content>
    <div id="assistirBtn">
    <ion-button (click)="openAd()">
      Assistir propaganda
    </ion-button>
    </div>
  </ion-card>

</ion-content>
