:root {
  --notch-inset-top: 20px;
}
#assistirBtn{
  text-align: center;
  margin-bottom: 15px;
  width:100%;
}
ion-badge{
  margin-left: 5px;
  padding-right: 8px;
}
ion-toolbar {
  margin-top: var(--notch-inset-top);
}