<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Opções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <ion-title>Alterar imagem</ion-title>
  <div id="userImg">
    <img src="{{ avatar || global.avatar }}">
    <button mat-fab (click)="getImage()" color="accent">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <ion-button size="medium" disabled={{loading}} color="primary" *ngIf="acceptButton" (click)="cancel()">Cancelar</ion-button>
  <ion-button size="medium" disabled={{loading}} color="primary" *ngIf="acceptButton" (click)="uploadImage()">Alterar <ion-spinner *ngIf="loading"></ion-spinner></ion-button>

  <ion-item-divider></ion-item-divider>
  <ion-title>Alterar Nome</ion-title>
  <form [formGroup]="optionsForm" (submit)="submit()" novalidate>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name"  value={{global.userGlobal.name}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" disabled formControlName="email"  value={{global.userGlobal.email}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" placeholder="Digite uma nova senha" formControlName="password"></ion-input>
    </ion-item>
    
    <ion-button type="submit" size="medium" color="primary">Atualizar</ion-button>
  </form>
</div>
</ion-content>
