
#container ion-title{
  margin-top: 5%;
}
#userImg{
  width: 50%;
  height: 25%;
  margin-top: 2rem;
}
#userImg img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
#userImg button[mat-fab]{
  z-index: 2;
  margin-top: -2rem;
  margin-left: 7rem;
}

ion-toolbar {
  margin-top: 20px;
}