<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()">Voltar</ion-back-button>
    </ion-buttons>
    <ion-title>Recuperação de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center" disable-scroll>
  <div id="container">
    <form [formGroup]="forgotForm" (submit)="forgot()" novalidate>
      <ion-list>       
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="usuário@exemplo.com" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Um email é necessário.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          O email precisa ser válido
        </span>
      </ion-list>
      <ion-button size="medium" type="submit" disabled={{loading}}>Enviar</ion-button><br>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </form>
  </div>
</ion-content>
  