<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()">Close</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Noticias"> 
      <ng-template matTabContent>
        <ngx-twitter-timeline 
          [data]="{ sourceType: 'url', url: 'https://twitter.com/minsaude?ref_src=twsrc%5Etfw' }"
          [opts]="{ tweetLimit: 20 }">
        </ngx-twitter-timeline>
      </ng-template>
    </mat-tab>
    <mat-tab label="Boletins Oficiais">
      <ng-template matTabContent>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selected" (change)="test()">
            <mat-option *ngFor="let state of states" [value]="state.code">
              {{ state.state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="select()" >Basic</button>

        <div role="listitem" *ngFor="let boletim of data">
          <mat-card class="card">
            <mat-card-title>
              {{ boletim.state }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ boletim.date }}
            </mat-card-subtitle>
            <mat-card-content>
              {{ boletim.notes }}
            </mat-card-content>
          </mat-card>  
          <mat-divider></mat-divider>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-content>
