:root {
    --notch-inset-top: 20px;
  }

ion-header {
    height: 40px;
    margin-top: var(--notch-inset-top);
}

ion-tab-bar {
    --background: #fff;
}

ion-slides{
    background-color: #fff;
    --bullet-background-active: #F0F3BD;
    color: #000;
  }

ion-card-title, ion-card-subtitle{
    --color: #fff;
}
#btns{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    flex-direction: column;
}
#escolha{
    margin-left: 15px;
}
ion-icon{
    margin-right: 5px;
}
.card {
    padding-bottom: 20px;
    color: #FFF;
}
ion-list{
    --ion-item-background: transparent;
    margin-top:0;
}
p::first-letter { 
    text-transform: uppercase; 
}

.firstButton{
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 16px;
  }