ion-modal {
  --ion-background-color: #ffffff85;
}
h1{
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 36px;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
}
.linha1{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.linha2{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.item{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.linha1item{
  width: 50%;
  text-align: center;
  align-self: center;
}
ion-fab-button{
  width: 100px;
  height: 100px;
}
