<ion-content (click)="closeModal()">
  <h1>Denuncias</h1>
  <div>
    <ion-row style="margin-bottom: 135px;" class="ion-align-items-center">
      <ion-col size="6">
        <div>
            <ion-fab-button color="tertiary">
              <ion-icon name="people"></ion-icon>
            </ion-fab-button>
        </div>
      </ion-col>

      <ion-col>
        <div>
            <ion-fab-button color="medium">
              <ion-icon name="nuclear"></ion-icon>
            </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
            <ion-fab-button color="danger">
              <ion-icon name="sad"></ion-icon>
            </ion-fab-button>
          <p>ASDASD</p>
          
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>