<ion-content (click)="closeModal()">
<div id="container">
  <h1>Denúncias</h1>
  <small>Denúncias ficam por 24 horas no mapa</small>
  <div class="linha1">
    <div class="item linha1item">
      <ion-fab-button style="align-self: center;" color="tertiary" (click)="insert({ title: 'Aglomerações', type: 'aglomeracoes' })">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <p>Aglomerações</p>
    </div>

    <div class="item linha1item">
      <ion-fab-button style="align-self: center;" color="medium" (click)="insert({ title: 'Situações de Risco', type: 'risco' })">
        <ion-icon name="nuclear"></ion-icon>
      </ion-fab-button>
      <p>Situações de risco</p>
    </div>
  </div>

  <div class="linha2">
    <div class="item">
      <ion-fab-button style="align-self: center;" color="danger" (click)="insert({ title: 'Areas com incidentes recentes', type: 'incidenteRecente' })">
        <ion-icon name="sad"></ion-icon>
      </ion-fab-button>
      <p>Áreas com incidentes recentes</p>
    </div>
  </div>
  <p style="color: lightgrey;"></p>

</div>
</ion-content>