<ion-app>
  <mat-drawer-container (swipeleft)="drawer.close()" class="example-container" [hasBackdrop]="true">
    <!-- Side Menu -->
    <mat-drawer #drawer>
      <div (swipeleft)="drawer.close()">
        <div id="drawerHeader">
          <img src="{{ global.avatar }}" >
          <div id="userInfo">
            <p> {{ global.userGlobal.name }} </p>
            <p><b>Level: {{ global.userGlobal.level }}</b></p>
          </div>
        </div>
        <mat-list id="listaDrawer">
          <mat-list-item [routerLink]="['/options']">
            <mat-icon>tune</mat-icon>
            <p>Opções</p>
          </mat-list-item>
          <mat-list-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <p>Sair</p>
          </mat-list-item>
          <mat-list-item style="background-color: red;" (click)="openAd()">
            <mat-icon>attach_money</mat-icon>
            <p>Ajude Os Desenvolvedores</p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <!-- Mapa e Botões -->
      <ion-content [fullscreen]="true">
        <div #map_canvas id="map_canvas">
          <ion-buttons slot="start" *ngIf="buttonHidden">
            <button id="btnDrawer" mat-flat-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </ion-buttons>
        </div>
        
        <!-- se o gps tiver off, apresenta isso-->
        <div *ngIf="mapHidden" class="mapMss">
          <mat-icon>gps_off</mat-icon>
          <h2>Para utilizar o aplicativo é necessario ativar o GPS</h2>
          <button mat-raised-button (click)="ativeMap()">
            Toque aqui para ativar
          </button>
        </div>
        <div *ngIf="buttonHidden">
          <div class="secondButton">
              <ion-fab-button color="primary" (click)="goToMyLoc()">
                <ion-icon name="locate-outline"></ion-icon>
              </ion-fab-button>
              <span class="tooltip">Hooray!</span>
          </div>
          <div class="firstButton">
            
              <ion-fab-button color="primary" (click)="toggleOverlay()">
                <ion-icon name="alert"></ion-icon>
              </ion-fab-button>
              <span class="tooltip2 tooltip">Hooray!</span>
            
          </div>
        <div class="newsButton">
          <ion-button shape="round" disabled={{newsButton}} color="primary" (click)="openModal()">
            <ion-icon name="globe-outline"></ion-icon>
            Notícias
            <ion-spinner *ngIf="newsButton"></ion-spinner>
          </ion-button>
        </div>
      </div>
      <div *ngIf="denunciaHidden" id=marker>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-icon style="font-size: 30px; margin-bottom: 45px;">room</mat-icon>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div *ngIf="denunciaHidden" id="denuncia">
        <div id="formDenuncia" >
          <form [formGroup]="denunciaForm" (submit)="confirmDenuncia()" novalidate>
            <ion-list>
              <ion-item>
                <h3>{{ infoDenuncia.title }}</h3>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Titulo</ion-label>
                <ion-input formControlName="title" type="text"></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-label position="stacked">Descrição</ion-label>
                <ion-textarea formControlName="description" type="text" maxlength="125"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-button mat-raised-button color="primary" size="default" (click)="cancelDenuncia()">
                  Cancelar
                </ion-button>
                <ion-button style="align-items: flex-end;" size="default" color="primary" disabled={{loading}} type="submit">
                  Confirmar
                  <ion-spinner *ngIf="loading"></ion-spinner>
                </ion-button>
              </ion-item>
            </ion-list>
          </form>
        </div>
      </div>
      </ion-content>
    </mat-drawer-content>
  </mat-drawer-container>
  <div id="overlay" *ngIf="overlayHidden" (click)="toggleOverlay()">
  </div>
  <div *ngIf="overlayHidden" id="fundoOverlay">
    <h1>Denunciar</h1>
  
    <ion-grid id="itens">
      <ion-row>
        <div>
          <ion-fab-button color="primary" (click)="denunciaInsert({ title: 'Aglomerações', type: 'aglomeracoes' })">
            <ion-icon name="people"></ion-icon>
          </ion-fab-button>
          <p>Aglomerações</p>
        </div>
        <div>
          <ion-fab-button color="tertiary" (click)="denunciaInsert({ title: 'Situações de Risco', type: 'risco' })">
            <ion-icon name="nuclear"></ion-icon>
          </ion-fab-button>
          <p>Situações de risco</p>
        </div>
      </ion-row>
      <ion-row>
        <div>
          <ion-fab-button color="danger" (click)="denunciaInsert({ title: 'Areas com incidentes recentes', type: 'incidenteRecente' })">
            <ion-icon name="sad"></ion-icon>
          </ion-fab-button>
          <p>Areas com incidentes recentes</p>
        </div>        
      </ion-row>
    </ion-grid>
  </div>
</ion-app>
<!-- Eu sempre sobre que o bolo é uma mentira -->