<ion-app>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer>
      <mat-list>
        <img src="{{'data:image/webp;base64,' + user.avatar}}" >
        <h1> {{ user.name }} </h1>
        <h3> {{ user.email }} </h3>
        <mat-divider></mat-divider>
        <mat-list-item> Nigga </mat-list-item>
        <mat-list-item [routerLink]="['/login']" (click)="logout()">
          <mat-icon>my_location</mat-icon>
          Logout
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <ion-content [fullscreen]="true">
        <div #map_canvas id="map_canvas">
          <ion-buttons slot="start" >
            <button mat-raised-button (click)="drawer.toggle()">
              <ion-icon slot="start" size="large" name="menu"></ion-icon>
            </button>
          </ion-buttons>
        </div>

        <div class="secondButton">
            <button mat-fab color="primary" (click)="goToMyLoc()">
              <mat-icon>my_location</mat-icon>
            </button>
        </div>
        
        <div class="firstButton">
          <button mat-fab color="primary" (click)="goToMyLoc()">
            <mat-icon>star</mat-icon>
          </button>
        </div>

        <div class="newsButton">
          <ion-button shape="round" color="primary" (click)="openModal()">
            <ion-icon slot="start" name="earth-outline"></ion-icon>
            News
          </ion-button>
        </div>
      </ion-content>
    </mat-drawer-content>
  </mat-drawer-container>
</ion-app>