<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()">Voltar</ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center" disable-scroll>
  <div id="container">
    <form [formGroup]="registerForm" (submit)="register()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input formControlName="name" placeholder="Insira aqui seu nome" type="text" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
          Um nome é necessário.
        </span>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="usuário@exemplo.com" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Um email é necessário.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          O email precisa ser válido
        </span>
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input clearOnEdit="false" formControlName="password" placeholder="Insira aqui uma senha" type="password" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Uma senha é necessária.
        </span>
      </ion-list>
      <ion-button size="medium" type="submit" disabled={{loading}}>Registrar</ion-button><br>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </form>
  </div>
</ion-content>
